<div class = "mypage-content">
 <div class = "contents">
    <h2><%= @username %>'s Reviews</h2>
     <% @tweets.each do |tweet| %>
     <div class = "content">
       <%= render partial: "tweets/tweet", locals: {tweet: tweet} %>
      <div class = "buttons">
       <%= link_to "EDIT", edit_tweet_path, class:"edit-button" %>
       <%= link_to "DELETE", tweet_path, method: :delete, data: {confirm: "Are you sure you delete this?"}, class:"delete-button" %>
       <%= link_to "BACK", root_path, class:"back-button" %>
      </div>
     </div>
     <% end %>
 </div>
</div>