<div class = "mypage-content">
 <div class = "contents">
    <p><%= @username %>'s Reviews</p>
     <% @tweets.each do |tweet| %>
     <div class = "content">
       <%= tweet.title %>
       <%= tweet.story %>
       <%= tweet.review %>
       <%= link_to "More", tweet_path(tweet.id), class:"more-button" %>
      </div>
     <% end %>
 </div>
</div>